@{
    ViewData["Title"] = "Index Tesis";
}
@*@model List<Models.gra.TesisView>*@
@using Models.gra;

<section class="content-header">
    <h1>
        Tesis
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Tesis</li>
    </ol>
</section>

<section class="content">
    <div class="row animated fadeInRight">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Gestionar Tesis</h3>
                </div>
                <div class="box-body">
                    <table id="example4" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Tema</th>
                                <th>Linea de investigación</th>
                                <th>Autor</th>
                                <th>Asesor</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TesisView item in ViewBag.Tesis)
                            {
                            <tr id="row_@item.Id">
                                <td>@Html.DisplayFor(modelItem => item.Codigo)</td>
                                <td>@Html.DisplayFor(modelItem => item.Tema)</td>
                                <td>@Html.DisplayFor(modelItem => item.Rama)</td>
                                <td>@Html.DisplayFor(modelItem => item.Autor)</td>
                                <td>@Html.DisplayFor(modelItem => item.Asesor)</td>                               

                                @*<td><a href="/Tesis/Update/@item.Id" class="btn btn-default btn-xs"><i title="Editar registro" class="fa fa-edit" style="color:blue;"></i></a> | <a href="" class="btn btn-default btn-xs" onclick="Delete('@item.Id')"><i title="Eliminar registro" class="fa fa-trash" style="color:red;"></i></a> | <a data-toggle="modal" data-target="#evaluateM" href=""><i title="Evaluar tesis" class="fa fa-check-circle-o" style="color:green;"></i></a> | <a href="#" onclick="Edit(@item.Id)"><i title="EditarVer" class="fa fa-check-circle-o" style="color:darkorange;"></i></a></td>*@
                                <td><a href="/Tesis/Update/@item.Id" class="btn btn-default btn-xs" title="Editar registro"><i class="fa fa-edit" style="color:blue;"></i></a> | <a href="" class="btn btn-default btn-xs" title="Eliminar registro" onclick="Delete('@item.Id')"><i class="fa fa-trash" style="color:red;"></i></a></td>

                            </tr>
                            }
                        </tbody>
                    </table>

                    <div class="row no-print">
                        <div class="col-xs-12">
                            <a href="/Tesis/Print" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Imprimir</a>
                            <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
                                <i class="fa fa-download"></i> Generar PDF
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Editar Tesis</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">


                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="Id" />
</section>
<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 3 -->
<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $(function (){
        $('#example4').DataTable();
    });

    var Edit = function (Id) {
        var url = "/Tesis/Edit?id=" + Id;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        })
    };

    function Delete(id) {
       alert(id)
       var txt;
       var r = confirm("¿Está seguro de eliminar este elemento?");
        if (r == true) {
           $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "Rama")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/Index";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });

        }
    }

</script>
@*<partial name="Evaluate"/>*@